@media screen and (max-width: 700px) {
    #main-orbit {
        width: 70%;
        height: 70vw;
        border-radius: 100%;
        top: 300px;
    }

    #x-mas-msg-text {
        font-size: xx-small;
    }
}