$sun-dimension: 100px;
$earth-dimension: 50px;
$moon-dimension: 13px;
$star-dimension: 1px;

$main-orbit-dimension: 500px;
$moon-orbit-dimension: 80px; 

body {
    min-height: 100vh;
}

#control-panel {
    position: fixed;
    top: 2%;
    left: 1%;
    z-index: 5;
}

#main-orbit {
    width: $main-orbit-dimension;
    height: $main-orbit-dimension;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: $main-orbit-dimension;
    z-index: 10;
}

#sun {
    width: $sun-dimension;
    height: $sun-dimension;
    margin: auto; 
    border-radius: $sun-dimension;
    box-shadow: 4px 4px 10px rgba($color: #FFC107, $alpha: 1.0), -4px -4px 10px rgba($color: #FFC107, $alpha: 1.0), 
    4px -4px 10px rgba($color: #FFC107, $alpha: 1.0), -4px 4px 10px rgba($color: #FFC107, $alpha: 1.0);

    background: 
    radial-gradient(
        circle at 30% 30%,
        #FFC107,
        #774400
    );
}

#moon-orbit {
    display: flex;
    position: absolute;
    width: $moon-orbit-dimension;
    height: $moon-orbit-dimension;
    left: 0;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    border-radius: $moon-orbit-dimension;
}

#earth {
    position: relative;
    width: $earth-dimension;
    height: $earth-dimension;
    border-radius: $earth-dimension;

    background: 
    radial-gradient(
        circle at 30% 30%,
        #0D6EFD,
        #000d19
    );
}

#moon {
    width: $moon-dimension;
    height: $moon-dimension;
    position: absolute;
    transform: translateX(($moon-orbit-dimension) / -2);
    border-radius: $moon-dimension;

    background: 
    radial-gradient(
        circle at 30% 30%,
        #F8F9FA,
        #686a6b
    );
}

#now {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.star {
    position: absolute;
    font-size: 5px;
    text-shadow: 4px 4px 10px white, -4px -4px 10px white, 
    4px -4px 10px white, -4px 4px 10px white;
} 

#x-mas-msg-text {
    font-family: 'Brush Script MT', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
    font-size: larger;
}

@keyframes revolve {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moon-revolve {
    0% {
        transform: translateX(-50%) rotate(0);
    }
    100% {
        transform: translateX(-50%) rotate(360deg);
    }
} 

@keyframes maintain {   
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}